.deal{
  background-color:$color2;
  padding: 10px;
  .fa{
    font-size: 17px;
  }
}
.nav{
  a{
    font-size: 18px;
  }
}
#btn-search{
  background-color: $color4;
  &:hover {
    background-color: $color4;
  }
}
.navbar{
  margin-bottom: 0;
}
#trip-search{
  position: absolute;
  top: 25%;
  left: 8%;
  img{
    width: 100%;
  }
  .col-md-5{
    background: transparentize($color3, 0.3);
    border-radius: 5px;
    padding: 18px;
  }
}
#carTrip{
  position: relative;
}
form{
  label{
    color: #fff;
    font-size: 16px;
  }
  .form-inline{
    padding: 10px;
    label{
      width: 100px;
    }
  }
}
.why-travel{
  color: $color4;
  font-size: 34px;
  padding: 10px;
}

.details{
  p{
    font-size: 24px;
    padding: 10px;
  }
}
.img{
  padding-left: 0;
  margin-left: 0;
}
footer{
  background-color: $color2;
  background-image: url('/img/logo_angle.png');
  background-position: 173% 13%;
  background-repeat: no-repeat;
  color: #fff;
  li{
    list-style: none;
  }
  a{
    color: #fff;
    font-size: 20px;
    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }
  ul{
    margin-top: 20px;
  }
  i{
    //background-color: #fff;
    //color: blue;
  }
  .fa-cc-amex{
    color:#007bc1;
  }
  .fa-cc-mastercard{
    color:#0a3a82;
  }
  .fa-cc-paypal{
    color:#253b80;
  }
  .fa-cc-visa{
    color:#0157a2;
  }
  select{
    height: 40px;
    width:120px;
    color: $color2;
    font-size: 18px;
    option{
      background-color: #fff;
    }
  }
}
.money{
  .fa{
    background-color: #fff;
  }
}
hr{
  border-color: $color1;
  border-width: 2px;
}
.pre-footer{
  padding: 15px;
  .fa{
    color: #fff;
    background-color: $color3;
  }
  h2{
    color: $color4;
    font-weight: 900;
  }
  .rBorder{
    border-right: 3px solid $color4;
    margin-top:15px;
    margin-bottom: 15px;
  }
  .thin{
    h2{
      font-weight: lighter;
    }
  }
}
#pckg-img1{
  padding: 0;
  width: 220px;
  height: 400px;
  background: url(/img/relax.jpg) -190px -20px;
  background-repeat: no-repeat;
}
#pckg-img2{
  padding: 0;
  width: 220px;
  height: 400px;
  background: url(/img/extreme.jpg) -190px -20px;
  background-repeat: no-repeat;
}
#pckg-img3{
  padding: 0;
  width: 220px;
  height: 400px;
  background: url(/img/adventure.jpg) -190px -20px;
  background-repeat: no-repeat;
}
#pckg-img4{
  padding: 0;
  width: 220px;
  height: 400px;
  background: url(/img/culture.jpg) -190px -20px;
  background-repeat: no-repeat;
}
#pckg-img5{
  padding: 0;
  width: 220px;
  height: 400px;
  background: url(/img/foodie.jpg) -190px -20px;
  background-repeat: no-repeat;
}
.pckg-over{
  width: 220px;
  height: 400px;
  //position: -190px -50px;
}
