.deal{
  background-color:$color2;
  padding: 10px;
  .fa{
    font-size: 17px;
  }
}
.nav{
  a{
    font-size: 18px;
  }
}
#btn-search{
  background-color: $color4;
  &:hover {
    background-color: $color4;
  }
}
.navbar{
  margin-bottom: 0;
}
#carousel{
  position: relative;
  img{
    width: 100%;
  }
  .container{
    position: absolute;
    z-index: 999px;
  }
}
form{

  label{
    color: #fff;
    font-size: 14px;
  }
  .form-inline{
    padding: 10px;
    label{
      width: 100px;
    }
  }
}
.why-travel{
  color: $color4;
  font-size: 34px;
  padding: 10px;
}

.details{
  p{
    font-size: 24px;
    padding: 10px;
  }
}
.img{
  padding-left: 0;
  margin-left: 0;
}
