.deal{
  background-color:$color2;
  padding: 10px;
  .fa{
    font-size: 17px;
  }
}
.nav{
  a{
    font-size: 18px;
  }
}
#btn-search{
  background-color: $color4;
  &:hover {
    background-color: $color4;
  }
}
