<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="deal"><!--deals-->
      <div class="container">
        <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="row">
              <div class="col-md-6">
                <h3 class="text-primary">HOTTEST DEALS!</h3>
              </div>
              <div class="col-md-6">
                <h3 style="color:#fff;">CHECK IT OUT NOW <span class="fa fa-chevron-right"></span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--deals-->
    <!--nav-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="row">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="/img/Logo.png" style="width:200px;height:50px;" alt="travelshorecenter">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-2 col-md-10">
            <ul class="nav navbar-nav">
              <li><a href="/destinations">Destinations</a></li>
              <li><a href="/packages">Style Packages</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/book">Book Now</a></li>
              <li><a href="/community">Community</a></li>
              <li><a href="/inspiration">Inspiration Blog/Vlog</a></li>
              <li><a href="/sustainability">Sustainability</a></li>
              <li><a href="#" id="btn-search"><span class="fa fa-search"></span> Search Packages</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--nav-->
    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
