<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div style="background-color:#262626;"><!--deals-->
      <div class="container">
        <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="row">
              <div class="col-md-6">
                <h2 class="text-primary">HOTTEST DEALS!</h2>
              </div>
              <div class="col-md-6">
                <h2 style="color:#fff;">Check it out now <span style="color:#fff;" class="glyphicon glyphicon-menu-right"></span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--deals-->
    <!--nav-->
    <nav class="navbar navbar-default" style="background-color:#029a33;">
      <div class="container-fluid">
        <div class="row">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="/img/Logo.png" style="width:200px;height:50px;" alt="travelshorecenter">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-2 col-md-10">
            <ul class="nav navbar-nav">
              <li><a href="/destinations" style="color:#fff;font-size:17px;">Destinations</a></li>
              <li><a href="/packages" style="color:#fff;font-size:17px;">Style Packages</a></li>
              <li><a href="/about" style="color:#fff;font-size:17px;">About</a></li>
              <li><a href="/book" style="color:#fff;font-size:17px;">Book Now</a></li>
              <li><a href="/community" style="color:#fff;font-size:17px;">Community</a></li>
              <li><a href="/inspiration" style="color:#fff;font-size:17px;">Inspiration Blog/Vlog</a></li>
              <li><a href="/sustainability" style="color:#fff;font-size:17px;">Sustainability</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--nav-->
    {{{body}}}
  </body>
</html>
