<div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 img">
        <img src="/img/travel_love.jpg" />
      </div>
      <div class="col-md-8">
        <!--title-->
        <p class="why-travel text-center">
          Why Travel With A Travel Agency That Caters To Travel
          In The Dominican Republic Only?
        </p>
        <!--title-->
        <div class="row details">
          <div class="col-md-6">
            <p>Directly Support Local Economy</p>
            <p>
              40% of every dollar you spend goes directly back into the local,
              Dominican economy! The remaining 60% goes directly back
            </p>
            <button class="btn btn-primary">Learn More</button>
          </div>
          <div class="col-md-6">
            <p>Directly Support Local Economy</p>
            <p>
              40% of every dollar you spend goes directly back into the local,
              Dominican economy! The remaining 60% goes directly back
            </p>
            <button class="btn btn-primary">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
