<div id="carousel"><!--carousel -->
  <div id="Carousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/home0.jpg" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="/img/home1.jpg" alt="Chicago">
    </div>

    <div class="item">
      <img src="/img/home2.jpg"  alt="New York">
    </div>
  </div>
  </div>
</div>
<!--carousel-->
<!--why travel-->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="form-inline">
          <label class="" for='dest' >Destination </label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="dest" placeholder="Where in the DR?">
        </div>
        <div class="form-inline">
          <label class="" for='duration' >Duration </label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="duration" placeholder="How long for your trip">
        </div>
        <div class="form-inline">
          <label class="" for='depart' >Departing </label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="depart" placeholder="Where in the DR?">
        </div>
        <div class="form-inline">
          <label class="" for='dest' >Theme </label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="dest" placeholder="Choose a theme">
        </div>
        <div class="form-inline">
          <label class="" for='dest' >Destination </label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="dest" placeholder="ie. Beach, Ocean, spa">
        </div>
        <label>There's an amazing Dominican Republic waiting for you</label>
        <div >
          <div class="row">
            <div class="col-md-8">
              <input type="text" class="form-control" id="dest" placeholder="Search all DR Tours">
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary">GO</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--why travel-->
