<div id="carousel"><!--carousel -->
  <!--trip search-->
  <!--<div class="container">
    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="form-inline">
            <label class="" for='dest' >Destination </label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="dest" placeholder="Where in the DR?">
          </div>
          <div class="form-inline">
            <label class="" for='duration' >Duration </label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="duration" placeholder="How long for your trip">
          </div>
          <div class="form-inline">
            <label class="" for='depart' >Departing </label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="depart" placeholder="Where in the DR?">
          </div>
          <div class="form-inline">
            <label class="" for='dest' >Theme </label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="dest" placeholder="Choose a theme">
          </div>
          <div class="form-inline">
            <label class="" for='dest' >Destination </label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="dest" placeholder="ie. Beach, Ocean, spa">
          </div>
          <label>There's an amazing Dominican Republic waiting for you</label>
          <div >
            <div class="row">
              <div class="col-md-8">
                <input type="text" class="form-control" id="dest" placeholder="Search all DR Tours">
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary">GO</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>-->
  <!--trip search-->

  <div id="Carousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/home0.jpg" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="/img/home1.jpg" alt="Chicago">
    </div>

    <div class="item">
      <img src="/img/home2.jpg"  alt="New York">
    </div>
  </div>
  </div>
</div>
<!--carousel-->

<!--why travel-->
<div >
  <div class="container">
    <div class="row">
      <div class="col-md-4 img">
        <img src="/img/travel_love.jpg" />
      </div>
      <div class="col-md-8">
        <!--title-->
        <p class="why-travel text-center">
          Why Travel With A Travel Agency That Caters To Travel
          In The Dominican Republic Only?
        </p>
        <!--title-->
        <div class="row details">
          <div class="col-md-6">
            <p>Directly Support Local Economy</p>
            <p>
              40% of every dollar you spend goes directly back into the local,
              Dominican economy! The remaining 60% goes directly back
            </p>
            <button class="btn btn-primary">Learn More</button>
          </div>
          <div class="col-md-6">
            <p>Directly Support Local Economy</p>
            <p>
              40% of every dollar you spend goes directly back into the local,
              Dominican economy! The remaining 60% goes directly back
            </p>
            <button class="btn btn-primary">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row details">
      <p class="why-travel text-center">
        Big Group? Small Group? Just You? Think Travelshore.
      </p>
      <p class="text-center">
        Our unique style sets us apart from every other tour agency.
        We ensure that you will experience the REAL Dominican Republic every time.
      </p>
    </div>
    <div class="row">
      <p class="why-travel text-center">
        Pssst. Love Deals? So Do We.
      </p>
    </div>
    <div class="row">
      <p class="why-travel text-center">
        Browse by Adventure & Choose Your Style!
      </p>
      <div class="col-md-2" id="pckg-img1">
        <img src="/img/relax_overlay.png" class="pckg-over" />
      </div>
      <div class="col-md-2" id="pckg-img2">
        <img src="/img/extreme_overlay.png" class="pckg-over" />
      </div>
      <div class="col-md-2" id="pckg-img3">
        <img src="/img/adventure_overlay.png" class="pckg-over" />
      </div>
      <div class="col-md-2" id="pckg-img4">
        <img src="/img/culture_overlay.png" class="pckg-over" />
      </div>
      <div class="col-md-2" id="pckg-img5">
        <img src="/img/foodie_overlay.png" class="pckg-over" />
      </div>
    </div>
  </div>
</div>
<!--why travel-->
<!--credit for vacation-->
<p style="padding:10px"></p>
<div class="pre-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 rBorder">
        <h2>Want a $100.00 credit for your next vacation?</h2>
      </div>
      <div class="col-md-4 thin">
        <h2>Follow us today & send us your DR travel pictures!</h2>
      </div>
      <div class="col-md-4">
        <ul class="list-inline">
          <li><a href="#"><i class="fa  fa-5x fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa  fa-5x fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa  fa-5x fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--credit for vacation-->
